.content {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden; 
  justify-content: flex-start; 
  background-color: transparent;
}
  
.content-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 20px;
  width: 50%;
  height: 50%; 
  margin-left: 3%; 
  margin-right: 0; 
  margin-top: 8%; 
}

.content-box-about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  padding: 20px;
  width: 50%; 
  margin-left: 3%; 
  margin-right: 0; 
  margin-top: 8px;
}

.intro {
    font-size: 24px;
    font-weight: 100;
}

.intro-about {
  color: var(--right-button);
  font-size: 24px;
  font-weight: 500;
}

.name-intro {
    color: var(--h-color);
    font-size: 31px;
    font-weight: 400;
    margin-top: -15px;
}

.name-intro-about {
  color: var(--h-color);
  font-size: 31px;
  margin-top: -15px;
  font-weight: 400;
}

.from { 
  color: var(--right-button);
  font-weight: light;
  font-size: 18px;
}

.fa-map-marker-alt {
  color: var(--right-button);
  opacity: 0.75;
  font-weight: light;
  font-size: 18px;
}

.intro-desc {
    color: var(--p-color);
    font-weight: lighter;
    font-size: 18px;
    margin-top: 20px;
    line-height: 25px;
}   

  @media (min-width: 2550px) {
    .content-box-about {
      margin-top: 35px;
    }
  }

  /* RESUME SECTION */
  .scrollable-box {
    height: 300px; 
    width: 400px;
    overflow-y: hidden; 
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative; 
    left: 10px;
  }
  
.buttons-container button.active {
  color: #3f3f3f;
}

.buttons-container {
  display: flex; 
  justify-content: space-between; 
  margin-top: 0px;
  margin-left: -15px;
}

.edu-item {
  position: relative;
  top: -5px!important;
  font-size: 1.3rem;
}

.edu-list {
  list-style-type: circle;
  margin-left: 25px;
  margin-top: -5px !important;
  font-weight: 400;
}

.exp-header {
  font-size: 1.3rem;
  margin-left: 25px;
  margin-top: 10px;
}

.exp-item, .skill-item {
  margin-top: -15px;
  margin-left: 25px;
}

.skill-item {
  list-style-type: circle !important;
  margin-left: 45px;
  margin-top: -10px !important;
}



.buttons-container button {
  background-color: transparent;
  color: rgba(6, 6, 6, 0.25);
  padding: 0px 40px 0px; 
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex: 1; 
  text-align: center; 
  margin-right: 10px; 
  transition: all .5s ease-out;
}

.buttons-container button:hover {
  color: #3f3f3f;
}

.buttons-container button.active:hover {
  color: #3f3f3f;
}

.resume-section {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--p-color);
}

.resume-section h2 {
  font-size: 1rem;
  color: var(--h-color);
  margin-bottom: 10px;
}

.responsibilities-list {
  margin-left: 25px;
  list-style-type: circle !important;
  margin-top: 5px !important;
}

.resume-section ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 10px;
}

.resume-section li {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: light;
  color: var(--p-color);
  opacity: 0.75;
  margin-left: 25px;
}

.resume-section strong {
  font-weight: bold;
}
  
  @media (min-width: 2550px) {
    .scrollable-box {
      width: 600px;
      height: 400px;
    }
    .skills-list {
      margin-left: 50px;
    }
    .buttons-container {
      margin-top: 30px;
      margin-left: 0; 
    }
  
    .buttons-container button {
      padding: 0px 60px; 
      font-size: 1rem; 
    }
  
    .resume-section h2 {
      font-size: 1.5rem; 
    }
  
    .resume-section li {
      font-size: 1.2rem; 
    }
  }
  

  /* DOTS */
  .education-dots-container,
  .experience-dots-container,
  .skills-dots-container {
    display: flex;
    justify-content: center;
    position: absolute; 
    bottom: 10px; 
    width: 100%; 
    left: -20px;
    gap: 15px;
    scale: 1.25;
  }
  
  .experience-dots-container {
    bottom: 10px;
  }
  
  .skills-dots-container {
    bottom: 10px;
  }
  
  .education-dot,
  .experience-dot,
  .skills-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .education-dot.active,
  .experience-dot.active,
  .skills-dot.active {
    background-color: var(--left-button);
    cursor: default;
  }
  
  .education-dot:not(.active),
  .experience-dot:not(.active),
  .skills-dot:not(.active) {
    background-color: var(--left-button-nonactive);
  }
  
  .education-dot:hover,
  .experience-dot:hover,
  .skills-dot:hover {
    background-color: var(--left-button);
  }
  
  