.button-container-contact {
  display: flex; /* Align buttons in a row */
  justify-content: space-between; /* Distribute buttons evenly across the container */
  margin-top: 35px;
  padding-top: 25px;
  height: 50px;
  padding-bottom: 15px;
  }

  
.email-button, .whatsapp-button, .facebook-button, .linkedin-button {
  padding: 15px 50px; /* Padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  text-decoration: none; /* Remove underline */
  background-color: transparent;
  transition: all 0.25s ease-out;
  font-size: 18px;
}

.email-button i, .email-button {
  color: rgba(6, 6, 6, 0.25);
  scale: 1.5;
  transition: all 0.25s ease-out;
}

.whatsapp-button i, .whatsapp-button {
  color: rgba(6, 6, 6, 0.25);
  scale: 1.5;
  transition: all 0.25s ease-out;
}

.facebook-button i, .facebook-button {
  color: rgba(6, 6, 6, 0.25);
  scale: 1.5;
  transition: all 0.25s ease-out;
}

.linkedin-button i, .linkedin-button {
  color: rgba(6, 6, 6, 0.25);
  scale: 1.5;
  transition: all 0.25s ease-out;
}

.email-button:hover, .email-button:hover i {
  color: #3f3f3f;
}

.whatsapp-button:hover, .whatsapp-button:hover i {
  color: #1EBE53;
}

.facebook-button:hover, .facebook-button:hover i {
  color: #365899;
}

.linkedin-button:hover, .linkedin-button:hover i {
  color: #0e76a8;
}

@media (min-width: 2550px) {
  .button-container-contact {
    margin-top: 65px;
    height: 50px;
    }

    .email-button, .whatsapp-button, .facebook-button, .linkedin-button {
      padding: 13px 60px; /* Increase padding for larger screens */
      font-size: 1.4rem; /* Increase font size */
    }

}

