/* Button container */
.button-container-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 15px;
  height: 50px;
}

/* Common button styling */
.email-button, .whatsapp-button, .facebook-button, .linkedin-button {
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Default font size */
  text-decoration: none;
  background-color: transparent;
  transition: all 0.25s ease-out;
}

/* Icon styling */
.email-button i, .whatsapp-button i, .facebook-button i, .linkedin-button i {
  color: var(--footer-button-nonactive);
  scale: 2.75;
  transition: all 0.25s ease-out;
}

/* Hover effect for buttons and icons */
.email-button:hover, .whatsapp-button:hover, .facebook-button:hover, .linkedin-button:hover,
.email-button:hover i, .whatsapp-button:hover i, .facebook-button:hover i, .linkedin-button:hover i {
  color: var(--footer-button-background);
}

/* Media query for larger screens */
@media (min-width: 2550px) {
  .button-container-contact {
    margin-top: 65px;
  }

  .email-button, .whatsapp-button, .facebook-button, .linkedin-button {
    padding: 13px 60px; /* Consistent padding for larger screens */
  }
}
