/* Dot Containers with absolute positioning */
.education-dots-container,
.experience-dots-container,
.skills-dots-container {
  display: flex;
  justify-content: center; /* Centers the dots horizontally */
  position: absolute; /* Ensures dots are positioned at the bottom of the scrollable box */
  bottom: 10px; /* Default for Education dots */
  width: 100%; /* Ensures the dots span the full width of the container */
  left: -20px; /* Ensure it's aligned from the left */
  gap: 15px;
  scale: 1.25;
}

/* Adjust position for Work Experience Dots */
.experience-dots-container {
  bottom: 10px; /* Positioning the Work Experience dots 20px lower */
}

/* Adjust position for Skills Dots */
.skills-dots-container {
  bottom: 10px; /* Positioning the Skills dots */
}

/* Individual Dot */
.education-dot,
.experience-dot,
.skills-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Active Dot */
.education-dot.active,
.experience-dot.active,
.skills-dot.active {
  background-color: var(--footer-button-background);
  cursor: default;
}

/* Active Dot */
.education-dot:not(.active),
.experience-dot:not(.active),
.skills-dot:not(.active) {
  background-color: var(--footer-button-nonactive);
}

.education-dot:hover,
.experience-dot:hover,
.skills-dot:hover {
  background-color: var(--footer-button-background);
}

.education-dot.active:hover,
.experience-dot.active:hover,
.skills-dot.active:hover {
  background-color: var(--footer-button-background);
  cursor: default;
}

