/* Footer container */
footer {
  position: fixed;
  bottom: 100px;
  left: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  top: -150px;
}

/* Slider for the active background */
.footer-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px; /* Match the width of the buttons */
  height: 50px; /* Match the height of the buttons */
  background-color: var(--footer-button-background);
  border-radius: 20px;
  transition: transform 0.3s ease-out;
  z-index: -1; /* Behind the buttons */
}

/* Button styles for footer */
footer button {
  top: 10px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-out;
  position: relative;
  scale: 1.2;
  font-weight: 500;
  border-radius: 20px;
  color: var(--footer-button-nonactive);
}

/* Hover and active states for buttons */
footer button:hover:not(.active),
footer button:not(.active):hover {
  background-color: transparent;
  color: var(--footer-button-hover);
}

footer button.active {
  cursor: default;
  color: var(--footer-button-active);
}

/* Tab button styles */
footer .tab {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .tab:hover {
  background-color: transparent;
}

footer .tab.active {
  color: var(--footer-button-active);
}

/* Media Queries for large screens */
@media (min-width: 2550px) {
  footer {
    left: 230px; /* Adjust position on large screens */
  }
}

/* Media Queries for small screens */
@media (max-width: 768px) {
  footer .tab:hover {
    display: none; /* Hide tab hover on smaller screens */
  }

  .footer-tabs {
    position: absolute;
    top: 75px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    display: none;
  }

  footer button {
    width: auto; /* Adjust button size for icons */
  }

  .text {
    display: none; /* Hide text on mobile */
  }

  .icon {
    font-size: 24px;
    color: #b0b0b0;
    transition: color 0.3s ease;
  }

  .icon:hover {
    color: rgb(225, 230, 230); /* Darker color for active icon */
  }

  .footer-slider {
    display: none; /* Hide slider on mobile */
  }
}

/* Hide icons on desktop version */
@media (min-width: 769px) {
  .icon {
    display: none; /* Hide icons on desktop */
  }
}
