 /* Add active button color style */
 .buttons-container button.active {
    color: var(--resume-buttons-container-color);
  }
  
  /* Button Styles */
  .buttons-container {
    display: flex; /* Align buttons in a row */
    justify-content: space-between; /* Distribute buttons evenly across the container */
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-left: -15px;
    background-color: var(--background-resume-color);
    border-radius: 25px;
  }
  
  .buttons-container button {
    background-color: transparent;
    color: var(--resume-buttons-container-nonactive);
    padding: 0px 40px 0px; /* Adjust padding for more space */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.25s ease;
    flex: 1; /* Ensures buttons take up equal space */
    text-align: center; /* Centers the button text */
    margin-right: 10px; /* Space between buttons */
    transition: all .25s ease-out;
    cursor: default;
  }

  .buttons-container:hover {
    cursor: default;
  }
  
  .buttons-container button:hover {
    color: var(--resume-buttons-container-color);
    cursor: pointer;
  }
  
  .buttons-container button.active:hover {
    color: var(--resume-buttons-container-color); /* Keep the hover effect when active */
    cursor: default;
  }

    /* Adjust button sizes and scrollable box width */
    @media (min-width: 2550px) {
        .buttons-container {
          margin-top: 30px;
          margin-left: 0; /* Remove left margin */
        }
      
        .buttons-container button {
          padding: 0px 60px; /* Increase padding for larger screens */
          font-size: 1.4rem; /* Increase font size */
        }
      }
      
