 /* Add active button color style */
 .buttons-container button.active {
    color: #060606;
  }
  
  /* Button Styles */
  .buttons-container {
    display: flex; /* Align buttons in a row */
    justify-content: space-between; /* Distribute buttons evenly across the container */
    margin-top: 0px;
    margin-left: -15px;
  }
  
  .buttons-container button {
    background-color: transparent;
    color: rgba(6, 6, 6, 0.25);
    padding: 0px 40px 0px; /* Adjust padding for more space */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /* Ensures buttons take up equal space */
    text-align: center; /* Centers the button text */
    margin-right: 10px; /* Space between buttons */
    transition: all .5s ease-out;
  }
  
  .buttons-container button:hover {
    color: #060606;
  }
  
  .buttons-container button.active:hover {
    color: #060606; /* Keep the hover effect when active */
  }

    /* Adjust button sizes and scrollable box width */
    @media (min-width: 2560px) {
        .buttons-container {
          margin-top: 30px;
          margin-left: 0; /* Remove left margin */
        }
      
        .buttons-container button {
          padding: 0px 60px; /* Increase padding for larger screens */
          font-size: 1rem; /* Increase font size */
        }
      }
      
