.right-side {
  position: absolute;
  top: 35px;
  left: 990px; 
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  z-index: 1; /* Ensure it stays on top */ 
}

.right-side-slider {
  position: absolute;
  top: -5px;
  left: 2px;
  width: 150px; /* Match the width of the buttons */
  height: 50px; /* Match the height of the buttons */
  background-color: var(--right-tab-button-color);
  border-radius: 20px;
  transition: transform 0.3s ease-out; /* Smooth transition */
  z-index: -1;
}

.right-tab,
.right-side-tab {
  top: -15px;
  left: -985px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  color: rgba(6, 6, 6, 1);
  transition: all 0.3s ease; /* Uniform animation speed */
  position: relative;
  z-index: -1; /* Above the slider */
  font-weight: 500;
  scale: 1.2;
}

/* Inactive button state */
.right-tab:not(.active),
.right-side-tab:not(.active) {
  border-radius: 20px;
  color: var(--right-tab-button-nonactive);
  transition: all 0.3s ease; /* Uniform animation speed */
}

/* Hover state for inactive buttons */
.right-tab:not(.active):hover,
.right-side-tab:not(.active):hover {
  background-color: transparent;
  color: var(--right-tab-button-hover);
  transition: all 0.3s ease; /* Uniform animation speed */
}

/* Active button state */
.right-tab.active,
.right-side-tab.active {
  color: var(--right-tab-button-active);
  /*cursor: default;*/
}










@media only screen and (min-width: 2550px) {
.right-side {
  position: absolute; /* Change to absolute positioning */
  top: 35px;           /* Keep the same top position */
  left: 950px;         /* Keep the same left position */
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  z-index: 1; /* Ensure it stays on top */
}

.right-side-slider {
  position: absolute; /* Keep absolute positioning for the slider */
  top: 90px;
  left: 2px;
  width: 150px; /* Match the width of the buttons */
  height: 50px; /* Match the height of the buttons */
  background-color: var(--right-tab-button-color);
  border-radius: 20px;
  transition: transform 0.3s ease-out; /* Smooth transition */
}

.right-tab,
.right-side-tab {
  top: 80px;
  left: -350px;
}
}












@media screen and (min-width: 3150px) {
  .right-side {
    left: 2000px; /* Move 300px to the right on 2K resolution */
    top: 175px;
}

.right-side-slider {
  left: 0px;

}


.right-tab,
.right-side-tab {
left: 250px;

}
}
