.button-container-contact {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .email-button, .whatsapp-button, .facebook-button, .linkedin-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.25s ease-out;
    scale: .8;
  }
  
  .email-button i, .whatsapp-button i, .facebook-button i, .linkedin-button i {
    color: var(--left-button-nonactive);
    font-size: 45px;;
    transition: all 0.25s ease-out;
  }
  
  .email-button:hover, .whatsapp-button:hover, .facebook-button:hover, .linkedin-button:hover,
  .email-button:hover i, .whatsapp-button:hover i, .facebook-button:hover i, .linkedin-button:hover i {
    color: var(--left-button);
  }
  
    @media (min-width: 2550px) {
      .button-container-contact {
        margin-top: 75px;
      }
  
      .email-button, .whatsapp-button, .facebook-button, .linkedin-button {
        padding: 10px 30px;
        margin-left: 35px;
      }
    }