
main h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    color: #3f3f3f;
  }
  
  main h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
  }
  
  main p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  main hr {
    margin: 10px 0;
    border: none;
    border-top: 2px solid #3f3f3f;
    width: 100px;
  }
    
  
  /* Layout */
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
  }
  
  .content {
    flex: 1;
  }
  
  /* Mobile-specific styles */
@media (max-width: 768px) {
  .intro, .name-intro, .intro-desc {
    font-size: 1.5rem; /* Zmenší fonty pro mobilní verzi */
  }

  .intro-desc {
    font-size: 1rem; /* Menší text pro popis */
  }

  .content-box {
    padding: 20px; /* Přidáme padding pro mobilní zařízení */
  }

  .name-intro {
    font-size: 2.5rem; /* Zvětší název pro mobilní verzi */
  }

  /* Úprava pro lepší čitelnost textu */
  h1, h2 {
    word-wrap: break-word;
  }
}