.dot-indicator-wrapper {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.dot-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top: 25px;
  left: 50%;
  gap: 10px;
  transform: translateX(-50%);
  background-color: var(--right-button-nonactive);
  border-radius: 25px;
  padding: 7.5px 15px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25); 
  transition: background-color 0.3s ease; 
}

/* Active dot */
.dot.active {
  background-color: var(--button-text-active);
}

motion.p,
motion.div {
  transition: opacity 1.2s ease;
}
