/* Mobile Styling for Right Header */
@media (max-width: 768px) {
  .mobile-right-side {
    position: fixed;
    padding: 0 10px;
    top: 20px;
    left: 38%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    width: auto;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(6,6,6, .05);
    box-shadow: inset 0 0 10px rgba(6,6,6, .25);
    border-radius: 50px;
    height: 6.5%;
    width: 65%;
  }

  .mobile-right-side-slider {
    height: 4px;
    background-color: transparent;
  }

  .mobile-tabs {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
  }

  .right-side-tab {
    background-color: transparent;
    padding: 12px 24px;
    font-size: 14px;
    background: transparent;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    text-align: center;
    opacity: 0; /* Start with all tabs hidden */
    transition: opacity 0.5s ease-in-out;
  }

  .right-side-tab.active {
    opacity: 1; /* Only show the active tab */
    background-color: transparent;
    transform: scale(2.25);
    color: rgba(6,6,6, .25);
    top: 0px;
  }



  /* Arrows */
  .arrow-button {
    background: transparent;
    border: none;
    margin-top: 10px;
    color: rgba(6,6,6, .25);
    font-size: 24px;
    transition: transform 0.3s;
    z-index: 99;
  }


  .arrow-left {

    margin-right: 25px;
  }

  .arrow-right {

    margin-left: 25px;
  }
}
