footer {
  position: fixed;
  bottom: 100px;
  left: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  top: -150px;
}

.footer-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background-color: var(--left-button);
  border-radius: 20px;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

footer button {
  top: 10px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-out;
  position: relative;
  scale: 1.2;
  border-radius: 20px;
  color: var(--left-button-nonactive);
}

footer button:hover:not(.active),
footer button:not(.active):hover {
  background-color: transparent;
  color: var(--left-button-hover);
}

footer button.active {
  cursor: default;
}

footer .tab {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

footer .tab:hover {
  background-color: transparent;
}

footer .tab.active {
  color: var(--button-text-active);
}

.icon {
  display: none;
}

  @media (min-width: 2550px) {
    footer {
      left: 230px;
    }
  }

