.corner {
    position: fixed;
    color: rgba(6, 6, 6, 0.25);
    font-weight: lighter;
    z-index: 100;
  }
  
  .top-right {
    top: 20px;
    right: 20px;
    text-align: right;
  }
  
  .bottom-left {
    bottom: 20px;
    left: 20px;
    text-align: left;
  }

