header {
    position: absolute;
    top: 0px;
    left: 10px;
  }

  .logo {
    width: 150px;
    height: 210px;
    opacity: .95;
  }

  @media (min-width: 2550px) {
    .logo {
      width: 170px;
      height: 230px;
    }
  }

  @media screen and (min-width: 3150px) {
    .logo {
      width: 340px;
      height: 460px;
    }
  }


  /* Mobile-specific styles */
@media (max-width: 768px) {
  .logo {
    display: none;
  }
}