/* Basic styling for the images */
.slide-image {
    border-radius: 20px;
    z-index: 1;
    overflow-y: hidden;
    position: relative;
  }
  
  @media (min-width: 2550px) {
    .slide-image {
      width: 3800px; /* Ensure it still fits the container */
      height: 4800px; /* Ensure it still fits the container */
    }
  }

