/* General styles for content container */
.content {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Makes the container take full height of the viewport */
    overflow: hidden; /* Prevents scrolling */
    justify-content: flex-start; /* Ensures content is aligned at the top initially */
    background-color: transparent;
  }
  
  /* Ensures content section fills the available height */
  .content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    width: 50%; /* Set the width to 50% */
    margin-left: 3%; /* Adjust this value to move it more to the left */
    margin-right: 0; /* Ensures there is no space on the right */
    margin-top: 8%; /* Adjusts the distance from the top of the screen */
    /* Optional: You can adjust margin-top to move it further down if needed */
  }
  
  
  .intro {
      color: rgba(6,6,6,0.25);
      font-size: 24px;
      font-weight: 100;
  }
  
  .name-intro {
      color: #3f3f3f;
      font-size: 31px;
      margin-top: -15px;
      font-weight: 400;
  }
  
  hr {
      border: none;
      height: 2px; /* Height of the line */
      background: linear-gradient(to right, #3f3f3f, transparent);
      width: 300px;
      margin-top: -20px;
      margin-left: 0px;
    }
  
  .intro-desc {
      color: #3f3f3f;
      font-weight: lighter;
      margin-top: 20px;
  }   
  
/* Mobile-specific styles */
@media (max-width: 768px) {
  .content-box {
    padding: 10px; /* Slightly reduced padding for mobile */
    width: 90%; /* Make content box more responsive */
  }

  .intro, .name-intro, .intro-desc {
    font-size: 1.2rem; /* Adjusted font sizes for mobile */
  }

  .intro-desc {
    font-size: 1rem; /* Clearer text for description */
  }

  .name-intro {
    font-size: 2rem; /* Bigger name for better visibility on mobile */
  }

  hr {
    display: none;
    width: 80%; /* More responsive width for the horizontal rule */
    margin-top: 20px; /* Proper margin for spacing */
  }

  /* Mobile-friendly layout for text */
  .intro, .name-intro, .intro-desc {
    text-align: center; /* Center text for better look on mobile */
  }
}