/* Scrollable Box */
.scrollable-box {
    height: 300px; /* Adjust based on your design */
    width: 400px;
    overflow-y: hidden; /* Enables vertical scrolling */
    overflow-x: hidden;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px; /* Optional, for rounded corners */
    position: relative; /* Allows absolute positioning for the dots */
  }
  
  /* Add active button color style */
  .buttons-container button.active {
    color: #3f3f3f;
  }
  
  /* Button Styles */
  .buttons-container {
    display: flex; /* Align buttons in a row */
    justify-content: space-between; /* Distribute buttons evenly across the container */
    margin-top: 0px;
    margin-left: -15px;
  }
  
  .buttons-container button {
    background-color: transparent;
    color: rgba(6, 6, 6, 0.25);
    padding: 0px 40px 0px; /* Adjust padding for more space */
    border: none;
    border-radius: 5px;
    /*cursor: pointer;*/
    transition: background-color 0.3s ease;
    flex: 1; /* Ensures buttons take up equal space */
    text-align: center; /* Centers the button text */
    margin-right: 10px; /* Space between buttons */
    transition: all .5s ease-out;
  }
  
  .buttons-container button:hover {
    color: #3f3f3f;
  }
  
  .buttons-container button.active:hover {
    color: #3f3f3f;
  }
  
  /* Resume Section Styles */
  .resume-section {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #3f3f3f;
  }
  
  .resume-section h2 {
    font-size: 1.2rem;
    color: #3f3f3f;
    margin-bottom: 10px;
  }
  
  .resume-section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .resume-section li {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: lighter;
    color: #3f3f3f;
    opacity: 0.75;
  }
  
  .resume-section strong {
    font-weight: bold;
  }
  
  /* RESPONSIVENESS FOR 2K MONITOR (2560px wide) */
  
  /* Adjust button sizes and scrollable box width */
  @media (min-width: 2560px) {
    .scrollable-box {
      width: 600px; /* Increase width for larger screen */
      height: 400px; /* Increase height for larger screen */
    }
  
    .buttons-container {
      margin-top: 30px;
      margin-left: 0; /* Remove left margin */
    }
  
    .buttons-container button {
      padding: 0px 60px; /* Increase padding for larger screens */
      font-size: 1rem; /* Increase font size */
    }
  
    .resume-section h2 {
      font-size: 1.5rem; /* Increase header size for better visibility */
    }
  
    .resume-section li {
      font-size: 1.2rem; /* Increase text size for readability */
      margin-left: 50px;
    }
  }
  

