.custom-box {
    margin-top: 90px;
    margin-left: 25px;
    width: 745px;
    height: 785px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px); /* Apply blur to background */
    -webkit-backdrop-filter: blur(2px); /* Ensure compatibility with Safari */
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    border: 5px solid rgba(244,244,244,.25);
    z-index: -1;
  }
  
  @media screen and (min-width: 2550px) {
    .custom-box {
      width: 990px;
      height: 990px;
      margin-left: -100px;
    }

  }