.category-buttons .case-study-button-container .case-study-button {
  z-index: 1000000000000;
  background-color: var(--right-button-nonactive);
  color: white;
  padding: 10px 20px;
  width: 150px;
  left: 859px;
  top: 250px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  text-align: center;
  position: relative;
}

.case-study-button-container {
  position: relative;

}

.case-study-button { 
  box-shadow: var(--box-shadow);
}

.category-buttons .case-study-button-container .case-study-button:hover {
  background-color: var(--right-button);
  text-align: center;
  transition: 0.3s ease-in-out;
  z-index: 1000000;
}

  @media (min-width: 2550px) {
    .case-study-button-container {
      z-index: 1000000000000;
      position: relative;
      left: 77%;
      top: 99px;
    }

    .case-study-button {
      z-index: 100000;
    }
  }
    