.category-buttons {
  position: absolute;
  top: 35%;
  left: -220px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.category-buttons button {
  position: absolute;
  width: 250px;
  height: 50px;
  font-weight: 500;
  margin-left: -55px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--right-button-nonactive);
  transition: color 0.3s ease-out;
  position: relative;
  text-align: right;
}

.category-buttons button:hover {
  color: var(--right-button-hover);
}

.category-buttons .active {
  color: var(--right-button);
  cursor: default;
}




